_build/
_opam/
_ignore/
_install/
.direnv/
vendor/
**.diags
**.vo
**.glob
**.vok
**.vos
**.aux
**.bak
**.target.json
**.lia.cache
**.dot
**.jsondump.json
**/__pycache__/
.ninja_log
lib/rocq_version_optcomp.mlh
lib/rocq_version.ml